* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background: #6366f1;
  color: #f4f6fb;
  cursor: pointer;
  transition: 0.2s;

  &&:hover {
    background-color: #4f46e5;
  }
}

/* <weight>: Use a value from 400 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
