.start-screen {
  width: 320px;
  text-align: center;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

  h1 {
    font-family: "Playfair Display", serif;
    color: #1f2937;
    margin-bottom: 0.5rem;
  }

  p {
    color: #6b7280;
    margin-bottom: 2rem;
  }
}

select {
  width: 100%;
  font-family: inherit;
  font-size: 0.75rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: #f9fafb;
}

button {
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background: #6366f1;
  color: #f4f6fb;
  cursor: pointer;
  transition: 0.2s;

  &&:hover {
    background-color: #4f46e5;
  }
}
